.calculator {
    margin: 120px;
    display: grid;
    justify-content: center;
}

.calculator-display {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 5px;
    height: 90px;
    width: 418px;
}

.previous {
    font-size: 20px;
    padding-bottom: 10px;
    color: rgb(63, 63, 63);
}

.current {
    font-size: 30px;
}

.calculator-buttons > div > button {
    border: 1px solid ;
    border-radius: 5px;
}

.main-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

.main-buttons > button {
    background-color: beige;
    width: 200px;
    height: 50px;
    margin: 10px;
}

.sub-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.sub-buttons > button {
    background-color: rgb(188, 250, 250);
    width: 90px;
    height: 50px;
    margin: 10px;
}